<div *ngIf="!accessError">
    <h1>{{title}}</h1>
    <form [formGroup]="newOccasionForm">
        <label>
      Title:
      <input type="text" formControlName="title" required>
    </label>
        <label>
      Start_date:
      <input type="date" formControlName="start_date" required>
    </label>
        <label>
      End_date:
      <input type="date" formControlName="end_date" required>
    </label>

        <label>
      price:
      <input type="number" min=0 max=1000 formControlName="price" required>
    </label>
        <label>
      occasion_link:
      <input type="string" formControlName="occasion_link" required>
    </label>
        <label>
      pic_link:
      <input type="string" formControlName="pic_link" required>
    </label>
        <label>
      additional pictures:
      <input type="string" formControlName="gallery1" >
      <input type="string" formControlName="gallery2" >
      <input type="string" formControlName="gallery3" >
      <input type="string" formControlName="gallery4" >
    </label>
        <p>
            Form Status: {{ newOccasionForm.status}}
        </p>
        <p>
            <button [disabled]="!newOccasionForm.valid" type="submit" (click)="addOccasion()">Add</button>
        </p>
    </form>

</div>