<div *ngIf="!accessError">
    <h1>{{title}}</h1>
    <form [formGroup]="newOccasionForm">
        <label>
      Title*:
      <input type="text" formControlName="title" required>
    </label>
        <label>
      Star date*:
      <input type="date" formControlName="start_date" required>
    </label>
        <label>
      End date*:
      <input type="date" formControlName="end_date" required>
    </label>

        <label>
      Price*:
      <input type="number" min=0 max=1000 formControlName="price" required>
    </label>
        <label>
      Occasion link*:
      <input type="string" formControlName="occasion_link" required>
    </label>
        <label>
      Description*:
      <input type="string" formControlName="description" required>
    </label>
        <label>
      Picture link*:
      <input type="string" formControlName="pic_link" required>
    </label>
        <label>
      Additional pictures:
      <input type="string" formControlName="gallery1" >
      <input type="string" formControlName="gallery2" >
      <input type="string" formControlName="gallery3" >
      <input type="string" formControlName="gallery4" >
    </label>
        <p>
            Occasion {{ newOccasionForm.status}}
        </p>
        <p>
            <button [disabled]="!newOccasionForm.valid" type="submit" (click)="addOccasion()">Add</button>
        </p>
    </form>

</div>