<form [formGroup]="filters" class="sidenav">
    <div formArrayName="price">
        <ng5-slider [formControl]="price" [options]="optionsPriceSlider"></ng5-slider>
    </div>
    <div formArrayName="names">
        Titles
        <span *ngFor="let name of names.controls; let i=index">      
      <p>{{namesCheckboxLabels[i]}}<input type="checkbox" name=occasion.name [id]="i" [formControlName]="i"></p>

    </span>
    </div>
</form>



<span *ngFor="let occasion of occasions; index as i" class="flex-container" style="flex-direction: row">
  <div  *ngIf="filteredNames.includes(occasion.title)&&
  filteredMaxPrice>=occasion.price&&
  occasion.price>= filteredMinPrice&&
  occasion.end_date>=now"
  >
    <app-occasion-detail [user]="user" [isLoggedIn]="isLoggedIn" [showModeratorBoard]="showModeratorBoard" [occasion]="occasion"
      (valueChanged)="valueChange($event)" (deleteOccasion)="deleteOccasion(occasion)" (newComment)="newComment($event)">
    </app-occasion-detail>

    <span *ngIf="isLoggedIn && !showModeratorBoard">
      <div>
        <form [formGroup]="commentsForm" style="display: row">
          <label>
            Rate:
            <input type="number" min=0 max=5 #box formControlName="rate" required>
          </label>

          <label>
            Comment:
            <input type="text" formControlName="text" required>
          </label>

          <p>
            <button [disabled]="!commentsForm.valid" type="submit" (click)="addComment(occasion)">Add Comment</button>
          </p>
        </form>
      </div>
    </span>

<div *ngFor="let comment of comments[occasion._id]">
    <p>Rate: {{comment.rate}}</p>
    <p>Comment: {{comment.text}}</p>
    <p>User: {{comment.username}}</p>
</div>

</div>


</span>